html, body {
    height:100%;
}

body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #e1e5f0 50%, #d0edf5 100%);
    background-attachment: fixed;

    font-size: 14px;

    margin: 0px;

}

.container {
    margin: 0 auto;
    min-height: 100%;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-item input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-item input:focus{
    outline: 0;
}

.item button {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
}

.item {
    position: absolute;
    padding: 15px;
    border: #eee solid 1px;
    border-radius: 10px;
    width: 300px;
    background-color: white;
}

.item-header {
    overflow: auto;
}

.item-author {
    float: right;
    margin-right: 20px;
    font-size: medium;
}

.item-title {
    float: left;
    margin-left: 10px;
    box-sizing: border-box;
    min-width: 150px;
}

.item-title-display {
    font-size: medium;
    min-height: 1em;
}

.item-title-editor {
    background: transparent;
    font-size: medium;
    border: none;
    display: none;
    width: 100%;
}

.item-text {
    box-sizing: border-box;
    min-height: 100px;
    width: 100%;
    display: none;
}

.item-text-editor {
    border: none;
    background: transparent;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: none;
    resize: vertical;
}

.item-text-display {
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
}

.item.focussed .item-text {
    display: block;
}

.item-text.editing-mode .item-text-display {
    display: none;
}

.item-text.editing-mode .item-text-editor {
    display: block;
}

.item.focussed {
    background-color: #eff;
}

svg, div._jsPlumb_endpoint {
  z-index: 2;
}

@media screen {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-item input {
        padding-bottom: 5px;
    }
}
